.browse-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 80px;
    box-sizing: border-box;
    /* overflow: scroll; */
    height: 2000px;
    background-color: white;
}

.browse-section-label {
    font-size: 24px;
    font-weight: 800;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-left: 5px;
    color: rgb(41, 44, 51);
}

.studio-list {
    display: flex;
    flex-direction: column;
}

.browse-section-stripe {
    width: 100%;
}

.studio-grid {
    display: flex;
    height: 150px;
}

.studio-button {
    width: 250px;
    height: 150px;
    border-radius: 6px;
    border: 1px solid black;
    /* margin: 20px; */
    flex: 0 0 24%;
    margin: 0 2px;
    transition: transform 300ms ease 100ms;
    box-sizing: border-box;
    background-size: cover;
    /* background-size: 100% 100%; */
}

.browse-content-item {
    display: flex;
    flex-direction: column;
}

.browse-content-title {
    font-size: 20px;
    font-weight: 400;
    padding-left: 5px;
    color: rgb(41, 44, 51);
}

.studio-button-link {
    width: 250px;
    height: 150px;
    border-radius: 6px;
    margin: 0 2px;
    /* transition: transform 300ms ease 100ms; */
    box-sizing: border-box;
}

.studio-button > img {
    max-height: 100%;
    max-width: 100%;
}

/* .studio-grid:hover .studio-button {
    transform: translateX(-25%);
}

.studio-grid:hover .studio-button-link {
    transform: translateX(-25%);
}

.studio-button:hover ~ .studio-button {
    transform: translateX(25%);
}

.studio-button-link:hover ~ .studio-button-link {
    transform: translateX(25%);
}


.studio-button:hover {
    transform: scale(1.5) !important;
} */